<div class="order__header">
    <div class="order__header-title">
        {{ order.theme }}
        {% if order.status != 'done' %}
            <div class="order__header-status {{ order.status }}">{{ order.status|capitalize }}</div>
        {% endif %}
    </div>
    <div class="order__header_block">
        <div class="order__header_part">
            <div class="order__header_item">
                <div class="order__header_item-title">Summery type:</div>
                <div class="order__header_item-val">{{ order.summeryType }}</div>
            </div>
            <div class="order__header_item">
                <div class="order__header_item-title">{{ app.user.client ? 'Performer' : 'Client' }}:</div>
                <div class="order__header_item-val">{{ app.user.client ? order.performer.user.firstname : order.client.user.firstname }} {{ app.user.client ? order.performer.user.lastname : order.client.user.lastname }}</div>
            </div>
            <div class="order__header_item">
                <div class="order__header_item-title">Max price:</div>
                <div class="order__header_item-val">{{ order.price }}</div>
            </div>
        </div>
        <div class="order__header_part">
            <div class="order__header_item">
                <div class="order__header_item-title">Topic:</div>
                <div class="order__header_item-val">{{ order.category.topic }}</div>
            </div>
            <div class="order__header_item">
                <div class="order__header_item-title">Deadline:</div>
                <div class="order__header_item-val">{{ order.deadline|date('d.m.Y') }}</div>
            </div>
        </div>
    </div>
</div>
