<div class="profile__block">
    <div class="profile__data">
        <div class="profile__data_title">
            Clients
            <div class="profile__data-filter">
                <img src="{{ asset('build/images/filter.svg') }}">
                <div class="dropdown">
                    <a href="{{ path('partner_profile', {'filter': 'amount'}) }}">By Amount</a>
                    <a href="{{ path('partner_profile', {'filter': 'name'}) }}">By Name</a>
                    <a href="{{ path('partner_profile', {'filter': 'date'}) }}">By Date</a>
                </div>
            </div>
        </div>
        <div class="profile__data_block">
            {% if clients|length != 0 %}
                {% for client in clients|slice(0, 3) %}
                    <div class="profile__user_main">
                        <div class="profile__user_avatar client" id="avatar">
                            <img src="{{ asset('img/NEW/user.svg') }}">
                        </div>
                        <div class="profile__user_info">
                            <div class="profile__user_info-name">{{ client.user.firstname }} {{ client.user.lastname }}</div>
                            <div class="profile__user_info-text">City: {{ client.city }}</div>
                            <div class="profile__user_info-text">Country: {{ client.country }}</div>
                        </div>
                    </div>
                    <div class="order__block-line client"></div>
                {% endfor %}
            {% else %}
                No clients
            {% endif %}
            {% if clients|length > 3 %}
                <div class="performer__reviews_all"><a href="#">All clients</a></div>
            {% endif %}
        </div>
    </div>
</div>
{% block javascripts %}
    <script>
        document.querySelectorAll('.profile__data-filter').forEach( button => {
            button.addEventListener('click', () => {
                let display = button.childNodes[3].style.display;
                if (display && display === 'none') {
                    button.childNodes[3].style.display = 'block';
                } else if (display === 'block') {
                    button.childNodes[3].style.display = 'none';
                } else {
                    button.childNodes[3].style.display = 'block';
                }

                Array.from(document.getElementsByClassName('profile__data-filter')).forEach(btn => {
                    let img = btn.childNodes[1];
                    if ((btn !== button) && (img.src.indexOf('activeFilter.svg') !== -1)) {
                        btn.style.background = '#FFFFFF';
                        img.src = "{{ asset('build/images/filter.svg') }}";
                    }

                    img = button.childNodes[1];
                    if (img.src.indexOf('filter.svg') !== -1) {
                        button.style.background = '#035FFE';
                        img.src = "{{ asset('build/images/activeFilter.svg') }}";
                    } else if (img.src.indexOf('activeFilter.svg') !== -1) {
                        button.style.background = '#FFFFFF';
                        img.src = "{{ asset('build/images/filter.svg') }}";
                    }
                });
            });
        });
    </script>
{% endblock %}
